# Reindex manticore if a flag file is present

SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

*/1 * * * * root source /root/.bashrc && date >> /tmp/indexcheck && /root/reindex-cron-job >> /var/log/cron.log 2>&1
